 /* attempting to style the ul and li of only the HS form element */
.hs-form ul {padding-left: 0px;} 
.hs-form li {list-style-type: none;list-style-position: inside}
    
/* attempting to correct the 95% width issue */
.hbspt-form .hs-form fieldset.form-columns-1 .hs-input { width: 100%; }

/* Inputs (selectors for all inputs)  */
.hs-form input[type="text"],
.hs-form input[type="password"], 
.hs-form input[type="datetime"], 
.hs-form input[type="datetime-local"], 
.hs-form input[type="date"], 
.hs-form input[type="month"], 
.hs-form input[type="time"], 
.hs-form input[type="week"], 
.hs-form input[type="number"], 
.hs-form input[type="email"], 
.hs-form input[type="url"], 
.hs-form input[type="search"], 
.hs-form input[type="tel"], 
.hs-form input[type="color"],
.hs-form input[type="file"],
.hs-form textarea,
.hs-form select {
/*  border-style: solid; */
/*  border-color: #cccccc; */
/*  border-width: 1px; */
    padding: 10px;
    font-size: 15px;
    height: 40px;
    width: 100%;
    margin: 0px 0px 100px 0px
}

/* Multi-select (selectors for multi-select fields) */
.hs-form-radio {
    margin: 3px 0px 3px 0px
}

.hs-form-radio-display {
    cursor: pointer
}
.hs-form form.hs-form .hs-form-field ul.inputs-list {}
.hs-form form.hs-form .hs-form-field ul.inputs-list li input {}
.hs-form input[type="radio"] {
    margin: 10px
}
.hs-form input[type="checkbox"] {
    margin: 10px
}


/* Increase height of textarea field  */
.hs-form textarea {
    min-height: 200px
}

/* Descriptions (targets class applied to Help Text divs) */
.hs-form .hs-field-desc {
    font-family: "Lato", sans-serif
}

/* Labels (selects field labels and error messages) */
.hs-form label {
    color: #adb2b7;
    font-family: "Lato", sans-serif;
    line-height: 20px;
    font-size: 13px;
    margin: 0px 0px 4px 0px;
    text-align: left
}
.hs-form .hs-form-field > label {
    font-family: "Lato", sans-serif

}


.hs-form-field {
    padding: 0px 0px 10px 0px
}

/* Error message (selector for validation messages) */
.hs-form .hs-error-msgs label {
    margin: 0px;
    color: #c87872;
    line-height: 18px;
    font-style: italic
}


/* =========================================== */
/* START Submit buttons */

body .hs-button.primary,
body input[type="submit"],
body input[type="button"] {
    text-align: center;
    margin: 0px;
    width: 100%;
    padding: 18px 50px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: white;
    background-color: #1DBF81;
    border-radius: 6px;
    cursor: pointer
}

body .hs-button.primary:hover,
body input[type="submit"]:hover,
body input[type="button"]:hover {
/*    color: #4abf4f; */
    background-color: #71d080
}
body .hs-button.primary:focus,
body input[type="submit"]:focus,
body input[type="button"]:focus {}

/* END Submit buttons 
/* =========================================== */



/* =========================================== */
/* START Media Queries */
@media (max-width: 400px),
(min-device-width: 320px) and (max-device-width: 480px) {
    form.hs-form .form-columns-2 .hs-form-field,
    form.hs-form .form-columns-3 .hs-form-field {
        float: none;
        width: 100%
    }
    form.hs-form .form-columns-2 .hs-form-field .hs-input,
    form.hs-form .form-columns-3 .hs-form-field .hs-input {
        width: 100%
    }
}

@media (max-width: 422px) {
    .all-social-types {
        height: 100px
    }
}

@media (max-width: 342px) {
    .hs-social-login {
        height: 72px
    }
}   

/* END Media Queries */
/* =========================================== */

/* ADDED MAY 2018 */
/* Inputs (selectors for all inputs)  */
.hs-form input[type="text"],
.hs-form input[type="password"], 
.hs-form input[type="datetime"], 
.hs-form input[type="datetime-local"], 
.hs-form input[type="date"], 
.hs-form input[type="month"], 
.hs-form input[type="time"], 
.hs-form input[type="week"], 
.hs-form input[type="number"], 
.hs-form input[type="email"], 
.hs-form input[type="url"], 
.hs-form input[type="search"], 
.hs-form input[type="tel"], 
.hs-form input[type="color"],
.hs-form input[type="file"],
.hs-form textarea,
.hs-form select {
    margin-bottom: 10px;
    border: none;
    border-radius: 3px;
    color: #333333;
    background-color: #f5f6f6;
}
.hs-form input[type="text"],
.hs-form input[type="password"], 
.hs-form input[type="datetime"], 
.hs-form input[type="datetime-local"], 
.hs-form input[type="date"], 
.hs-form input[type="month"], 
.hs-form input[type="time"], 
.hs-form input[type="week"], 
.hs-form input[type="number"], 
.hs-form input[type="email"], 
.hs-form input[type="url"], 
.hs-form input[type="search"], 
.hs-form input[type="tel"] {
    text-align: center;
}
body .hs-button.primary,
body input[type="submit"],
body input[type="button"] {
    border: none;
}